Assignment_1/QIBullet_Source/myenv38/
__pycache__/
*.pyc
myenv38/
.venv/
__pycache__/
Assignment_4/venv/
projects/venv/

Project/projectenv/
Project/known_faces/
Project/projectenv_py310_backup/
Project/.python-version