opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78
face-recognition==1.3.5
face-recognition-models==0.3.0
numpy==1.24.3
qibullet==1.4.3
PyBullet==3.24.0
pyttsx3==2.90
better-profanity==0.7.0
pgmpy==0.1.21
pyAgrum==1.13.2
